body {
  margin:0;
  padding:0;
  color:#3F3F3F !important;
  font-optical-sizing: auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons { 
  color: black;
  opacity: 0.4;
}

.greenblack04 {
  color: black;
  opacity: 0.4;
}